@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Roboto');
@import '~@angular/material/theming';
@import '~dropzone/dist/min/dropzone.min.css';
@import '~dropzone/dist/min/basic.min.css';
@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink);

$app-theme:   mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);

body {
  margin: 0;
  font-family: Roboto, monospace;
}
app-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}
header {
  background-color: mat-color($app-primary);
  .nav-buttons {
    color: mat-color($app-primary, 50);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-card {
      display: flex;
      flex-direction: column;
      margin: 0 1em;
      .text {
        margin-top: 10px;
      }
    }
    .mat-icon-button {
      width: 100px;
      height: 100px;
      line-height: 100px;
      .mat-icon {
        line-height: 50px;
        width: 50px;
        height: 50px;
      }
      mat-icon {
        color: mat-color($app-primary, 50);
        font-size: 3em;
      }
      &.active {
        border: 4px solid mat-color($app-primary, 50);
      }
    }
  }
  padding-bottom: 70px;
}
.headline {
  color: mat-color($app-primary, 50);
  padding-top: 30px;
  text-align: center;
}

.container {
  margin: -20px auto 0;
  width: 1280px;
  max-width: 90%;
  position: relative;
  .album {
    display: flex;
    align-items: center;
    justify-content: center;
    .image-card {
      width: 200px;
    }
  }
}
app-active-snackbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 840px){
  .headline {
    padding-top: 10px;
    h1 {
      font-weight: normal;
    }
  }
  header {
    padding-bottom: 30px;
  }
  .container {
    margin-top: -10px;
  }
}
